.Rproj.user
.Rhistory
.RData
.Ruserdata
data
dev_test2.RData
_2.Rdata.RData
Lucas-article-pop-change.odt
buff_lsm_2006.csv
buff_lsm_2017.csv
impacts_results.docx
impacts_results_10.docx
impacts_results_20.docx
impacts_results_50.docx
impacts_results_70.docx
impacts_results_fpp_50.docx
impacts_results_fpp_70.docx
model_fit_comparison.docx
